@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

.login {
  height: 100vh;
  background: rgb(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
      url("https://images.pexels.com/photos/3228727/pexels-photo-3228727.jpeg?auto=compress&cs=tinysrgb&w=1600")
        center;
    background-size: cover;
  }

  @include tablet {
    background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
      url("https://images.pexels.com/photos/3228727/pexels-photo-3228727.jpeg?auto=compress&cs=tinysrgb&w=1600")
        center;
    background-size: cover;
  }

  @include laptop {
    background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
      url("https://images.pexels.com/photos/3228727/pexels-photo-3228727.jpeg?auto=compress&cs=tinysrgb&w=1600")
        center;
    background-size: cover;
  }

  .card {
    display: flex;
    width: 50%;
    border-radius: 10px;
    background: #fff;
    min-height: 400px;
    overflow: hidden;

    @include mobile {
      width: 100%;
    }

    @include tablet {
      width: 80%;
    }

    .left {
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url("https://images.pexels.com/photos/3228727/pexels-photo-3228727.jpeg?auto=compress&cs=tinysrgb&w=1600")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: #fff;

      h1 {
        font-size: 50px;
        line-height: 50px;
      }

      span {
        font-size: 12px;
      }

      button {
        border: none;
        padding: 10px;
        width: 50%;
        cursor: pointer;
        color: rgb(72, 63, 240);
        border-radius: 10px;
        font-weight: bold;
      }

      @include mobile {
        display: none;
      }

      @include tablet {
        display: none;
      }

      @include laptop() {
        display: none;
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
        color: #555;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        flex: 1;

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          outline: none;
          padding: 20px 10px;

          &::placeholder {
            color: #2319e6;
            font-weight: bold;
          }
        }

        button {
          border: none;
          padding: 10px;
          width: 50%;
          cursor: pointer;
          color: white;
          background: #938eef;
          border-radius: 10px;
          font-weight: bold;
        }
      }
    }
  }
}
